.center-container{
    width: 100%;
    min-width: 1200px;
    margin-top: 80px;
}
.center-wrapper{
    width: 1000px;
    margin: 0 auto;
    display: flex;
}
.center-wrapper .ul{
    background-color: #1db44e;
    width: 180px;
    text-align: center;
    padding: 10px;
}
.center-wrapper .ul li{
    margin-top: 15px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.center-right{
    height: 600px;
    /* border: 1px solid red; */
    margin-left: 20px;
}
.center-form{
    padding-top: 20px;
}
.center-form p{
    margin-top: 30px;
    margin-left: 20px;
}
.center-form label{
    display: inline-block;
    width: 100px;
    text-align: right;
   margin-right: 30px;
   color: #666;
   line-height: 1.5px;
   font-size: 15px;
}
.center-btn{
    display: inline-block;
    width: 100px;
    height: 32px;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
    background: #ff8800;
    color: #fff;
    margin-left: 100px;
}
.center-form .bao,.xiao{
    margin-left: 30px;
}
.center-form .xiao{
    background: #fff;
    color: #666;
    border: 1px solid #eee;
}
.center-form input{
    width: 350px;
    outline: none;
    border: 1px solid #eee;
    height: 35px;
    text-indent: 1em

}
.mima input{
    width: 200px;
}
.none{
    display: none;
}
.buy_cancel{
    color: #666;
    background: #f40;
    outline: none;
    border: none;
    border-radius: 4px;
    width: 50px;
    cursor: pointer;
}
.bck{
    width: 800px;
    height: 300px;
    position: relative;
}
.bck-input{
     width: 500px;
     height: 40px;
     border: 1px solid #999;
     outline: none;
     border-radius: 15px;
     position: absolute;
     text-indent: 1em;
     bottom: 50px;
     left: 150px;
     font-size: 16px;
     line-height: 43px;
}
.bck-img{
    width: 100%;
    height: 300px;
}
.bck-form{
    position: absolute;
    top:100px;
    left:320px;
}
.bck-file{
    width: 50px;
    height: 50px;
    margin-left: 15px;
}
.bck-p{
    font-size: 18px;
    margin-top: 10px;
}
.file{
    position: absolute;
    top:0;
    height:60px;
    opacity: 0;
}
#edit{
    word-break:break-all;
    word-wrap:break-word;
    font-size: 16px;
    color: #333;
    border: none;
    outline: none;
   text-indent: 2em;
}
.bck-bott{
    margin-top:30px;
    max-width: 800px;
}

#edit:empty:before{
    content:attr(placeholder);
    font-style: italic;
    font-size: 16px;
}
#edit:focus{
    content:none;
}
#edit img{
    max-width: 800px;
}
.bcktn-form{
    position: fixed;
    bottom: 30px;
}
.btnfile{
    position: absolute;
    left:0;
    height: 30px;
    opacity: 0;
}
.fabiao{
    width: 100px;
    height: 40px;
    background: green;
    text-align: center;
    line-height: 40px;
    position: fixed;
    bottom: 30px;
    right: 200px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 8px;
}